<% include partials/header %>
<section id="aa-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-testimonial-area">
          <ul class="aa-testimonial-slider">
            <!-- single slide -->
            <li>
              <div class="aa-testimonial-single">
              <img class="aa-testimonial-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSboR_4mc_c66NHthH-Hg-XK2xDJu8efYLry2sVUHpmTXKYcj89&usqp=CAU" alt="testimonial img">
                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                <H3>Hi,hope You are likeing aur app.</H3>
                <p>RenClo is an Indian e-commerce company based in ranchi,jharkhand.The Company initially focused on renting clothes like for men, women and kids. </p>
                <div class="aa-testimonial-info">
                  <p>Prashant kumar</p><p> Ashish Ranjan </p><p>Arpit Ayush</p>
                  <span>(FOUNDER)</span>
                </div>
              </div>
            </li>

            <!-- single slide -->
            <li>
              <div class="aa-testimonial-single">
              <img class="aa-testimonial-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSR28brMIoGAptJU9z-sYJG-0zthEk8Thl7Rke6WogYrQ8QQnbo&usqp=CAU" alt="testimonial img">
                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                <h3>Hi,hope You are likeing aur app</h3>
                <p>RenClo is an Indian e-commerce company based in ranchi,jharkhand.The Company initially focused on renting clothes like for men, women and kids. </p>
                <div class="aa-testimonial-info">
                  <p>Abhishek Kumar</p><p> Vishal Kumar</p>
                  <span>(MEMBER)</span>

                </div>
              </div>
            </li>
             <!-- single slide -->
            <li>
              <div class="aa-testimonial-single">
              <img class="aa-testimonial-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJLGB0KOjB2cqIBtv14cCJ-y4Vyx6oZ7waCQT9xd9o6sXXrfY5&usqp=CAU" alt="testimonial img">
                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                <div class="aa-testimonial-info">
                  <p>Somnath Chakraborty</p>
                  <span>(MENTOR)</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / about us -->
<% include partials/footer %>
