<% include partials/header %>
<!-- start contact section -->
 <section id="aa-contact">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="aa-contact-area">
           <div class="aa-contact-top">
             <h2>Let's Connect!</h2>
             <p>We would love to hear from you. </p>
           </div>
           <!-- contact map -->

           <!-- Contact address -->
           <div class="aa-contact-address">
             <div class="row">
               <div class="col-md-8">
                 <div class="aa-contact-address-left">
                   <form class="comments-form contact-form" action="/mail" method="post">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" name="name"placeholder="Your Name" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="email" name="email"placeholder="Email" class="form-control">
                        </div>
                      </div>
                    </div>
                     <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" name="subject"placeholder="Subject" class="form-control">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <textarea class="form-control" rows="3" name="message"placeholder="Message"></textarea>
                    </div>
                    <button class="aa-secondary-btn">Send</button>
                  </form>
                 </div>
               </div>
               <div class="col-md-4">
                 <div class="aa-contact-address-right">
                   <address>
                     <h4>RenClo</h4>
                     <p>Kokar Chowk Near Manbhawna Dresses</p>
                     <p><span class="fa fa-home"></span>Ranchi 834002,India</p>
                     <p><span class="fa fa-phone"></span>+91-7992258722</p>
                     <p><span class="fa fa-envelope"></span>Email: renclotheapp@gmail.com</p>
                   </address>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

<% include partials/footer %>
