<% include partials/header %>


  <!-- 404 error section -->
  <section id="aa-error">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-error-area">

            <span>Thank you for Shopping with Us</span>
            <p><strong>Your order will be deliver to you shortly so stay tuned,</strong>Keep Shopping :)</p>
            <a href="/"> Go to Homepage</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / 404 error section -->
<% include partials/footer %>
